<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
             [color]="'#FEF749'" [trickleSpeed]="250" [thick]="true" [ease]="'linear'"
></ng-progress>

<nav class="navbar navbar-dark bg-dark fixed-top">

  <button class="my-sm-0 btn" id="yellow" (click)="AddApplication(form, application)" placement="right" ngbTooltip="Add Application">
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
  </button>

  <h2 id="t">Trabajo</h2>

  <button class="my-sm-0 btn" id="yellow" (click)="logout()" placement="left" ngbTooltip="Log Out">
    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
  </button>
</nav>

<div class="body">
  <div>
    <ng-template #form let-z="close" let-q="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Add Trabajo</h4>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="newApplication.app_date" type="date"/>
        <input [(ngModel)]="newApplication.company_name" placeholder="Company"/>
        <input [(ngModel)]="newApplication.job_title" placeholder="Job Title"/>
        <input [(ngModel)]="newApplication.job_description" placeholder="Description"/>
        <input [(ngModel)]="newApplication.contact_name" placeholder="Contact Name"/>
        <input [(ngModel)]="newApplication.contact_email" placeholder="Contact Email" type="email"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="z('Close click')">Close
        </button>
        <button class="btn btn-secondary" (click)="postApplication()" (click)="q('Cross click')">Add Trabajo
        </button>
      </div>
    </ng-template>
  </div> 
  <div *ngFor="let application of applications; let i = index" [attr.data-index]="i"> 
    <div id="accordion" role="tablist">
        <div class="card" style="margin-bottom: 15px;">
          <div class="card-header" role="tab" id="heading" data-id="{{ application.id }}">
            <h5 class="mb-0"><a role="button" data-toggle="collapse" href="#collapse{{i}}"  aria-expanded="false" aria-controls=""><button class="btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button></a> <span id="j">{{application.company_name}}</span><i id="m" class="fa fa-angle-double-right" aria-hidden="true"> </i><span stlye="color: #000000;">Active Days: {{application.active}}</span></h5>  
          </div>
          <div id="collapse{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="btn-group-vertical">
                <div class="status" data-toggle="buttons">
                  <label class="btn btn-warning">
                  <input type="radio" name="options" id="option1"> Want <i class="fa fa-diamond fa-lg" aria-hidden="true"></i>
                  </label>
                  <label class="btn btn-success">
                    <input type="radio" name="options" id="option5"> Promising <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2"> Send follow up <i class="fa fa-sticky-note fa-lg" aria-hidden="true"></i>
                  </label>
                  <label class="btn btn-info">
                    <input type="radio" name="options" id="option3"> Waiting to hear <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                  </label>
                  <label class="btn btn-danger">
                    <input type="radio" name="options" id="option4"> Passed on <i class="fa fa-meh-o fa-lg" aria-hidden="true"></i>
                  </label>
                </div> 
              </div>
              <div class="app">
                <h5>Job: {{application.job_title}}</h5>
                <h5> Job info: {{application.job_description}}</h5>
                <h5>Contact: {{application.contact_name}} </h5>
                <a href="mailto:{{application.contact_email}}"><h5>{{application.contact_email}} </h5></a>
                <p>Today is: {{today | date: 'y-MM-dd'}}</p>
                <p>Date Applied : {{application.app_date}}</p>
                <button class="btn" id="yellow" (click)="editApplication(app, application)">Edit
                </button>
                <button class="btn btn-danger" (click)="open(content)">Delete</button>
                  <div>
                    <ng-template #content let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h4 class="modal-title">Delete {{application.job_title}}</h4>
                      </div>
                      <div class="modal-body">
                        <p>This action cannot be undone!</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close
                        </button>
                        <button class="btn btn-danger" id="trash" (click)="deleteApplication(application)" (click)="d('Cross click')">Delete Trabajo
                        </button>
                      </div>
                    </ng-template>
                  </div> 
                  <div>
                    <ng-template #app let-x="close" let-y="dismiss">
                      <div class="modal-header">
                        <h4 class="modal-title">Update {{application.job_title}}</h4>
                      </div>
                      <div class="modal-body">
                        <input [(ngModel)]="updateApplication.company_name" placeholder="Company"/>
                        <input [(ngModel)]="updateApplication.job_title" placeholder="Job Title"/>
                        <input [(ngModel)]="updateApplication.job_description" placeholder="Description"/>
                        <input [(ngModel)]="updateApplication.contact_name" placeholder="Contact Name"/>
                        <input [(ngModel)]="updateApplication.contact_email" placeholder="Contact Email" type="email"/> 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="x('Close click')">Close
                        </button>
                        <button class="btn btn-secondary" (click)="patchApplication(application)" (click)="y('Cross click')">Update Trabajo</button>
                      </div>
                    </ng-template>
                  </div> 
              </div><!--App class DIV END--> 
            </div>      
          </div>
        </div>
      </div><!--Card DIV END-->
    </div><!--Accordion DIV END-->
  </div> <!--Application DIV END-->
</div><!-- BODY DIV END -->


