.status {
	margin: 30px;
	width: 170px;
}

.app {
	margin: 25px;
}

.card-body{
	padding: 0;
}
#m {
	color: #000000;
	margin-right: 10px;
}

@media only screen and (max-width: 711px) and (min-width: 320px) {
.info {
		width: auto;
	}

}

@media only screen and (max-width: 525px) and (min-width: 320px) {

	.status {
		margin-left: 40px;
		width: 170px;
	}
	.app {
	
		margin: 15px;
		margin-left: 40px;
	}	

}
.post {
		margin: 10px;
		display: block;
	}


input{
	width: 160px;
}

.c {
	text-align: center;
	width: 160px;
    margin-left: 9px;
    margin-bottom: 10px;
	}

h3 {
	display: inline-block;
	margin-left: 10px;
}

h2, .c, #t {
	text-align: center;
}

#t {
	color: rgb(254, 240, 0);
	text-shadow: 0 1px 5px #000000;
}

#j {
	color: rgb(254, 240, 0);
	font-size: 150%;
	font-weight: 500;
  	text-shadow: 0 1px 5px #000000;
  	margin-right: 10px;

}

.body {
	padding-top: 85px;
	margin-left: 15px;
	margin-right: 15px;
}

.logout {
 	position: fixed;
    top: 16px;
    right: 16px;
 }

 .settings {
 	position: fixed;
    top: 16px;
    right: 70px;
 }

.edit {
 	position: fixed;
    top: 16px;
 	margin-left: 16px;
 }

#trash.hover {
	color: #cc1414
}

input {
	margin: 10px;
	border-color: black;
	border-radius: 4px;
}


.btn.active {
	background-color: rgb(254, 240, 0);
	color: #000;
}


