<nav class="navbar navbar-inverse navbar-static-top">

  <button class="edit btn btn-default" (click)="showPostForm = !showPostForm">
    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
  </button>

  <button class="btn btn-default" id="logout" (click)="logout()">
    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
  </button>

  <h2 id="title">Trabajo</h2>

  
</nav>


<div>

  <div *ngIf="showPostForm">
    <input [(ngModel)]="newApplication.app_date" type="date"/>
    <input [(ngModel)]="newApplication.company_name" placeholder="Company"/>
    <input [(ngModel)]="newApplication.job_title" placeholder="Job Title"/>
    <input [(ngModel)]="newApplication.job_description" placeholder="Description"/>
    <input [(ngModel)]="newApplication.contact_name" placeholder="Contact Name"/>
    <input [(ngModel)]="newApplication.contact_email" placeholder="Contact Email" type="email"/>
    <button class="btn btn-default" (click)="postApplication()"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></button>
  </div>


  
  
    <div *ngFor="let application of applications; let i = index" [attr.data-index]="i">   
        <div id='container'>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading" data-id="{{ application.id }}">
              <h4 class="panel-title">
                
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="false" aria-controls=""><button class="btn btn-default"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button></a>

                <div id = "list">

                <p>
                {{application.app_date}}
                <span >Role:</span> {{application.job_title}}
                </p>
                </div>
                
              </h4>

            </div>

            <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
               
            <div>
              <ul>
                <li>{{application.company_name}}</li>
                <li>{{application.job_title}}</li>
                <li>{{application.job_description}}</li>
                <li>{{application.contact_name}}</li>
                <li>{{application.contact_email}}</li>
              </ul>

              <button class= "btn btn-success" (click)="editApplication(application)">
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </button> 

                    <button class="btn btn-danger" id="trash" (click)="deleteApplication(application)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                      <button class="btn" id="yellow" (click)="goToApplication(application)">More detail</button>
            </div>

               <div *ngIf="showPatchForm">
                <input [(ngModel)]="updateApplication.app_date" type="date"/>
                <input [(ngModel)]="updateApplication.company_name" placeholder="Company"/>
                <input [(ngModel)]="updateApplication.job_title" placeholder="Job Title"/>
                <input [(ngModel)]="updateApplication.job_description" placeholder="Description"/>
                <input [(ngModel)]="updateApplication.contact_name" placeholder="Contact Name"/>
                <input [(ngModel)]="updateApplication.contact_email" placeholder="Contact Email" type="email"/>
                
                <button class="btn" (click)="patchApplication()"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></button>
              </div>

            </div>
          </div>
        </div>
    </div>

    

</div>


