h2 {
	text-align: center;
}

 #logout {
 	position: fixed;
    top: 16px;
    right: 16px;
 }

.edit {
 	position: fixed;
    top: 16px;
 	margin-left: 16px;
 }

.jobApp, #list{
	display: inline-block;
} 
.jobApp {
 	padding-left: 10px;
 	
 	color: #275cb2;
 }

#trash.hover {
	color: #cc1414
}