h2 {
	text-align: center;
}



 #logout {
 	float: right;
 	margin-right: 10px;
 }

.edit {
 	float: left;
 	margin-left: 10px;
 }

.jobApp, #list{
	display: inline-block;
} 
.jobApp {
 	padding-left: 10px;
 	
 	color: #275cb2;
 }

#trash.hover {
	color: #cc1414
}