
<header>
<button class="h btn" (click)="home()">
		<i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
	</button>
<h1 id="title">Trabajo</h1>
</header>


<div class="loginForm">

<input id="email" [(ngModel)]="user.email" placeholder="Email" type="email"/>


<form name="myForm" novalidate>
    <input [(ngModel)]="user.password" type="password" id="password" name="password" placeholder="Password" minlength="8" maxlength="50" required>
    
</form>


<div id="buttonss">
<button class="btn" id="log"(click)="login()">Log In</button><button class="btn btn-primary" id="sign"(click)="register()">Sign Up</button>
</div>

</div>