.loginForm {
	margin: 0 auto;
	width: 142px;
    height: 100px;
}

h1, input{
	text-align: center;
}


#sign {
    padding: 6px 7px 6px;
    margin-left: 15px;

}

#log {
	border-color: #000000;
	background-color: rgb(254, 247, 73);
	margin-left: 8px;
	padding: 6px 7px 6px;

}

#buttonss {
	margin-top: 10px;
	width: 170px;
}

#email {
	margin-bottom: 10px;
}

input {
  border: none;
  border-radius: 4px;
}