<header><h1 id="title">Trabajo</h1></header>


<div class="loginForm">

<input id="email" [(ngModel)]="user.email" placeholder="Email" type="email"/>


<form name="myForm" novalidate>
    <input [(ngModel)]="user.password" type="password" id="password" name="password" placeholder="Password" minlength="5" maxlength="50" required>
    <ng2-password-strength-bar
        [passwordToCheck]="user.password">
    </ng2-password-strength-bar>
</form>

<div id="buttonss">
<button class="btn" id="log"(click)="login()">Log In</button><button class="btn btn-primary" id="sign"(click)="register()">Sign Up</button>
</div>

</div>