/* You can add global styles to this file, and also import other style files */
.modal-content {
  top: 100px;
}

.startimg {
  background-image: url('http://i.imgur.com/j5MpUWS.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

ng-progress {
  z-index: 10002;
}

#yellow {
	background-color: rgb(254, 247, 73);

}



#yellow:hover {
  background-color: rgb(254, 240, 0);
  
 }

#title {
  margin-left: 30px;
	color: rgb(254, 247, 73);
  text-shadow: 0 1px 5px #000000;

}

.h {
  color: rgb(254, 247, 73);
  background:none;
    border:none;
    box-shadow:none;
}


footer {
  color: snow;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  height: 30px;
  background: rgba(50, 50, 50, 0.6);
  text-align: center;
  margin-bottom: -10px;
}

#git {
  color: rgb(254, 247, 73);
  text-decoration: none;
}

