/* You can add global styles to this file, and also import other style files */
.startimg {
  background-image: url('http://i.imgur.com/j5MpUWS.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

#yellow {
	background-color: rgb(254, 247, 73);

}



#yellow:hover {
  background-color: rgb(254, 240, 0);
  
 }

#title {
	color: rgb(254, 247, 73);
}

.h {
  color: rgb(254, 247, 73);
  background:none;
    border:none;
    box-shadow:none;
}


footer {
  color: snow;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rpx;
  background: rgba(50, 50, 50, 0.6);
  text-align: center;
  margin-bottom: -10px;
}

#git {
  color: rgb(254, 247, 73);
  text-decoration: none;
}

