.registerForm {
	margin: 0 auto;
	width: 142px;
    height: 100px;
}

h1, h2, .label, input{
	text-align: center;
}

#b {
	margin: 0 auto;
	width: 100px;
	text-align: center;
}

#sign {
	padding: 6px 7px 6px;
}

#reg {
	margin-bottom: 10px;
}

input {
  border: none;
  border-radius: 4px;
}

