
<header>
<button class="h btn" (click)="home()">
		<i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
	</button>

	<h1 id="title">Trabajo</h1>

</header>

<div class="registerForm">

<br>

<input id="reg" [(ngModel)]="user.email" placeholder="Email" type="email"/>


<br>

   <div>
       <form name="myForm" novalidate>
            <input [(ngModel)]="user.password" type="password" id="password" name="password" placeholder="Enter password" minlength="8" maxlength="50" required>
       
       
            <ng2-password-strength-bar
                [passwordToCheck]="user.password">
            </ng2-password-strength-bar>
        </form>
    </div>
</div>
<div id="b"><button class="btn btn-primary" id="sign"(click)="register()">Sign Up</button></div>
