<nav class="navbar navbar-inverse navbar-fixed-top">
	<button class=" edit btn" id="yellow" (click)="app()">
		<i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
	</button>

	<h1>Status for {{application.job_title}}</h1>
</nav>

<div class="body">

<button class="s btn btn-warning">Want <i class="fa fa-diamond fa-lg" aria-hidden="true"></i></button>
<button class="s btn btn-primary">Send follow up <i class="fa fa-sticky-note fa-lg" aria-hidden="true"></i></button>
<button class="s btn btn-info">Waiting to hear <i class="fa fa-phone fa-lg" aria-hidden="true"></i></button>
<button class="s btn btn-danger">Passed on <i class="fa fa-meh-o fa-lg" aria-hidden="true"></i></button>
<button class="s btn" id="yellow">Promising <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>

<div>





<p>Current Date: {{today | date: 'y-MM-dd'}}</p>
<p>Date Applied : {{application.app_date}}</p>
<p>Company : {{application.company_name}}</p>
<p>days active: {{days}}</p>


</div>

<div>	
  <textarea name="message" rows="10" cols="40" placeholder="Notes" style="background-color: rgba(254, 247, 70, 0.7);"></textarea>
  <br>
  <button class="btn" id="yellow" style="border-color: black"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
</div>





</div>
