h1 {
	text-align: center;
	color: rgb(254, 247, 73);
	top: 0px;
}

p {
	color: #FFFFFF;
	font-size: 150%;
	font-weight: 500;
  	text-shadow: 0 1px 5px #000000;
}

.s {
	margin: 10px;
	border-color: #000000;
}

.edit {
 	position: fixed;
    top: 16px;
 	margin-left: 16px;
 }

 .body {
 	padding-top: 85px;
 	text-align: center
 }